body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #3a6073; /* لون مريح للعين */
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #e8491d;
}

h1, h2 {
    color: #35424a;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #ffffff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #cccccc;
    transition: background 0.3s ease;
}

ul li:hover {
    background: #e8491d;
    color: #ffffff;
}

ul li a {
    text-decoration: none;
    color: #35424a;
    font-weight: bold;
    display: block;
}

ul li a:hover {
    color: #ffffff;
}

.container {
    width: 60%; /* تغيير العرض ليكون في المنتصف */
    margin: 20px auto; /* يضع الحاوية في المنتصف */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #35424a;
    color: #ffffff;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar ul {
    padding-left: 10px;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #ffffff;
}

.sidebar ul li a:hover {
    color: #e8491d;
}

footer {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 5px solid #e8491d;
}

a {
    color: #e8491d;
}
